// Buttons
//
// Custom buttons for the docs.

.btn-bs {
  font-weight: 500;
  color: $bd-purple-bleft;
  border-color: $bd-purple-bleft;

  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background-color: $bd-purple-bleft;
    border-color: $bd-purple-bleft;
  }
}
