.bd-team {
  margin-bottom: 1.5rem;

  .team-member {
    line-height: 2rem;
    color: #555;
  }

  .team-member:hover {
    color: #333;
    text-decoration: none;
  }

  .github-btn {
    float: left;
    width: 180px;
    height: 1.25rem;
    margin-top: .25rem;
    border: 0;
  }

  img {
    float: right;
    width: 2rem;
    margin-left: .5rem;
    border-radius: .25rem;
  }
}
